@use "../abstracts/variables" as variables;

.font-secondary {
  font-family: variables.$font-secondary;
}

.page {
  h2 {
    color: variables.$color-heading;
    font-size: variables.$font-size-page-heading;
    margin: 0 0 0.5rem;
  }

  p {
    color: variables.$color-page-copy;
    font-size: variables.$font-size-body-responsive;
    margin: 0;
  }
}
